# Extra
.venv
.vscode

# Internet Analyzer
Internet_Analyzer/log.txt
Internet_Analyzer/current_speed.csv
Internet_Analyzer/connected_devices
Internet_Analyzer/speed_graph.png

# Sea Nav
Sea_Nav/venv/*
Sea_Nav/data/*

# OptimumHolidaysForYear
OptimumHolidaysForYear/solver_app
OptimumHolidaysForYear/*.out
OptimumHolidaysForYear/headers/*.out
OptimumHolidaysForYear/source/*.out

# RecipeHelper
