.add-new-recipe-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.ingredient-add-button {
    margin-bottom: 1.5rem;
    margin-left: 1rem;
}

.ingredient-chip {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
}

.ingredient-chip-quantity-input {
    width: 50%;
    margin-left: 1rem;
}

.selected-ingredient-grid-item {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0.5rem;
}

.ingredient-input {
    width: 50%;
}