.recipe-handler-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.add-new-recipe {
    width: 50%;
}

.recipe-handler {
    padding: 1rem;
}

.recipe-gallery {
    margin-top: 1rem;
    padding-top: 1rem;
}

.refresh-recipe {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-content: center;

    div {
        margin-top: 0.5rem;
    }

    margin-top: 1rem;
    margin-bottom: 1rem;
}