.add-edit-ingredient-form {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    min-width: 300px;
}

.ingredient-add-button {
    width: 50%;
}

.add-edit-button-spinner {
    width: 1rem;
}