.ingredient-viewer {
  padding: 1rem;
}

.ingredient-viewer-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

.gallery-button {
  margin-top: 2rem;
  border-radius: 1px solid black;
}

